body {
  background-image: url("../img/background.jpg");
  background-repeat: no-repeat;
  font-size: 2em;
}
#heavenlySlice {
  height: 20vh;
}

#storeName {
  margin-top: 5%;
  font-size: 4em;
  font-family: Garamond;
  color: #339933;
}

.pricing {
  font-weight: bolder;
}

#prices {
  font-size: 75%;
  font-weight: bold;
  font-style: italic;
}

#orderForm .pizzaChoice {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  padding-left: 10%;
}

#selectSize, #selectToppings {
  padding-bottom: 5%;
}

#price {
  font-family: Garamond;
  font-size: 3em;
  color: #339933;
}

.share {
  display: none;
  margin-top: 5%
}

#remember {
  color: red;
  font-size: 1.5em;
}

#sharePic {
  height: 25vh;
  width: auto;
}
